body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1{
    font-size: 50px;
}
.name-highilights{
    color: orange;
}
.haf-with{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 2%;
}
.haf-with img{
    width: 100%;
}